body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
  padding-bottom: 0;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: white;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.container-fluid {
  padding: 3% 10%;
}
.title {
  padding-top: 3%;
}
.apple {
  margin-top: 2%;
  margin-right: 3%;
  margin-bottom: 0;
}

/* Navbar-Link */
.nav-link {
  color: white;
  font-weight: lighter;
}
.nav-item {
  padding: 0 4%;
}

.navbar-brand {
  font-family: "Ubuntu";
  color: white;
}
.navbar {
  margin-bottom: 6%;
}

/* section */

.mockup {
  width: 90%;
  transform: rotate(25deg);
  position: relative;
  z-index: 0;
}

/* Features */

#features {
  text-align: center;
  position: relative;
  z-index: 1;
}
.feat-icon {
  color: #ff4c68;
  padding-bottom: 1rem;
}
.feat-icon:hover {
  color: #ff94a4;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.feat {
  background-color: white;
  position: relative;
  z-index: 10;
}

/* Testimonial */

#testimonials {
  background-color: #ff4c68;
  text-align: center;
}
.testimonial-photo {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

/* Press */

#press {
  background-color: #ff4c68;
  text-align: center;
}

.press-photo {
  width: 17%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
}

/* Pricing */
#pricing {
  text-align: center;
  padding: 150px;
}

.price {
  color: black;
}

.price-col {
  padding: 2%;
}
.sign-up {
  padding-left: 100px;
  padding-right: 100px;
}

/* ----------Footer--------*/

#cta {
  background-color: #ff4c68;
  text-align: center;
}

#footer {
  text-align: center;
  padding: 1%;
}

.bot3 {
  color: white;
  line-height: 1.5;
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom: 2%;
}
.foot-button {
  margin: 0 10px;
  margin-bottom: 5%;
}

.foot-s {
  margin-left: 43%;
  width: 15%;
  padding: 1px;
}

.copyright {
  margin: 5px;
}
.socials {
  text-align: center;
  padding: 5px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .mockup {
    width: 60%;
    transform: rotate(0);
    position: static;
  }
}
